

.account-item {
    display: flex;
    jus
    margin-top:20px;
}
.avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  object-fit: cover;
//   background-image: transparent;
//   border: transparent;
}
