.setting {
  position: absolute;
  //   margin-top: 100px;
  background-color: transparent;
  min-height: 1000px;
  width: 100%;
  box-sizing: border-box;
}
.setting-container {
  position: relative;
  background-color: rgba(218, 220, 224, 0.3);
  min-height: 10000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.setting-body {
  position: absolute;
  display: flex;
  margin-top: 20px;
  top: 0;
  height: 100%;
  width: 1100px;
  background-color: rgba(218, 220, 224, 0.3);
  .arrow-icon {
    position: absolute;
    top: 32px;
    width: 40px;
    height: 40px;
    // display: -webkit-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    display: flex;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // -webkit-justify-content: center;
    justify-content: center;
    // -webkit-align-items: center;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    align-items: center;
    background: rgba(22, 24, 35, 0.03);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    left: calc(50% - 611px);
  }
}
.setting-content {
  display: flex;
  width: 1100px;
  border: 1px solid transparent;
  box-shadow: 3px 3px 3px 5px rgba(24, 25, 35, 0.07);
}
.content-left,
.content-right {
  padding: 20px 10px;
  margin: 0 10px;
  background-color: var(--white);
  width: 100%;
}
.content-left {
  width: 50%;
}
.left-body-manage,
.left-body-privacy,
.left-body-notification {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
}
.content-right-top,
.content-right-center,
 .content-right-bottom {
}