.upload {
  position: absolute;
  margin-top: 100px;
  min-height: 1000px;
  width: 100%;
//   background-color: red;
}
.body-upload-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: b;
}