.upload {
  position: absolute;
  margin-top: 100px;
  min-height: 1000px;
  width: 100%;
  //   background-color: red;
}
.body-upload {
  min-height: 1000px;
  width: 100%;
}
.body-upload-container {
    min-height: 1000px;
    width: 100%;
    height: 100%;
    background-color: white;

}
