@import 'normalize.css';
@import url('https://fonts.google.com/specimen/IBM+Plex+Sans?query=ibm+');

:root {
  --primary: #fe2c55;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
