.wrapper {
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.content {
  display: flex;
  height: 100%;
  width: var(--default-layout-header-width);
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.search,
.search-result {
  width: 361px;
}
.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 361px;
  padding-left: 16px;
  font-size: 1.6rem;
  color: rgba(22, 24, 35, 0.06);
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border: 1px solid transparent;
  border-radius: var(--default-border-radius);
  input {
    flex: 1;
    background-color: transparent;
    color: rgba(22, 24, 35, 0.3);
    caret-color: var(--primary);
    border: none;
    outline: none;
    font-size: 1.6rem;
  }
  &:focus-within {
    border-color: rgba(22, 24, 35, 0.3);
  }
  input:not(:placeholder-shown) ~ .search-button {
    color: rgba(22, 24, 35, 0.75);
  }
}
.search-clear,
.loading {
  position: absolute;
  //   top: 50%;
  right: calc(var(--search-bottom-width) + 16px);
  background: transparent;
  color: rgba(22, 24, 35, 0.34);
}
.search-button {
  background: transparent;
  width: var(--search-bottom-width);
  height: 100%;
  border-top-right-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.3);
  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.03);
  }
  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
.search-title {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(22, 24, 35, 0.7);
  margin: 10px 15px;
  padding: 0;
}
