.wrapper {
  display: flex;
  margin: 10px;
  padding: 9px 16px;
  cursor: pointer;
  &:hover {
    background:rgba(22, 24, 35, 0.03)
  }
}

.avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  flex: 1;
  margin-left: 12px;
}

.name {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}
.check {
  color: var(--tikets-check);
  margin-left: 8px;
  font-size: 1.6rem;
}

.username {
  font-size: 1.4rem;
  color: rgba(22, 24, 35, 0.5);
}
