.wrapper-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  padding: 20px 0;
  position: relative;
  max-width: 692px;
}
.avatar-home {
  padding-right: 10px;
}
.img-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-content {
  // width:100%;
  display: flex;
}

.user-name {
  display: flex;
}

.account-item {
}

.item-info {
  display: flex;
}

.nickname {
  font-size: 1.8rem;
  margin-right: 5px;
}

.check {
  font-size: 1.4rem;
  color: var(--tikets-check);
  margin-left: 4px;
}

.name {
  font-size: 1.4rem;
  color: rgba(24, 25, 34, 0.8);
}

.analytics {
  margin-top: 10px;
  font-size: 1.8rem;
  .label {
    color: rgba(24, 25, 34, 0.8);
    font-weight: 600px;
  }
  .value {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
.value ~ .value {
  margin-left: 20px;
}

.fl-home {
  padding: 6px 16px;
  width: 20px;
  height: 35px;
  border: 1px solid var(--primary);
  color: var(--primary)
  &:hover {
    
  }
}
