//Menu Setting

.wrapper {
  width: 261px;
  // background: rgb(255, 255, 255);
  // box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  // border-radius: 8px;
  // max-height: min(100vh - 96px - 60px, 734px);
  // min-height: 100px;
  margin-top: -15px;
  margin-right: 25px;
  .wrapper-item {
    justify-content: flex-start;
    margin-left: 0;
  }
}

.menu-popper {
  padding-bottom: 8px;
}
.menu-scroll {
  overflow-x: hidden;
}

//MenuItem
.wrapper-item {
  width: 100%; 
  border-radius: 0;
  padding: 11px 16px;
  line-height: 1.8rem;
  font-weight: 600;
  &.separate {
    border-top: 1px soild rgba(22, 24, 35, 0.12);
  }
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

//HeaderLanguage
.header {
  position: relative;
  display: flex;
  margin-top: 0;
  height: 50px;
  flex-shrink: 0;
}
.back-btn {
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.6rem;
  padding: 0 30px;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
