//KeyBoard

.keyboard {
  position: fixed;
  inset: 0px;
  z-index: 1001;
  overflow: auto;
  outline: 0px;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  display: flex;
  opacity: 1;
  .keyboard-container {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0px;
    .keyboard-body {
      width: 100vw;
      height: 100vh;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      .keyboard-content {
        position: relative;
        border-radius: 8px;
        margin: auto;
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        transform: none;
        background-color: rgb(255, 255, 255);
        height: 500px;
        width: 500px;
      }
    }
  }
}
.content-body {
    padding: 10px 20px;
}