.profile {
  margin: 50px;
}
.profile-header {
  position: relative;
  flex: 0 0 auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-right: 92px;
  max-width: 624px;
  padding-right: 92px;
}
.profile-avatar {
  display: flex;
  flex-direction: row;
}
.avatar {
  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
}
.profile-name {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  .profile-name-text {
    font-size: 3rem;
    font-weight: 700;
  }
  .check {
    color: var(--tikets-check);
    margin-left: 5px;
    box-shadow: 0px 0px 5px var(--tikets-check);
    background-color: transparent;
    border: none;
    border-radius: 50%;
  }
}
.user-button {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid rgba(24, 25, 35, 0.3);
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 600;
  .editicon {
    color: transparent;
  }
  p {
    margin-left: 10px;
  }
}
.profile-interactive {
  margin-top: 30px;
}
.interactive {
  display: flex;
}
.interactive-fl,
.interactive-flws,
.interactive-likes {
  margin-right: 20px;
  .label {
    color: rgba(24, 25, 34, 0.8);
    font-weight: 600px;
  }
  .value {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 5px;
  }
}
.profile-bigo {
  margin-top: 20px;
  .bigo-link {
    margin-top: 10px;
    font-weight: 700;
  }
}
.profile-share {
  position: absolute;
  display: flex;
  margin-top: 15px;
  top: 11px;
  cursor: pointer;
  right: 12px;
  .share-icon {
    color: transparent;
  }
}

.btn-body {
  display: flex;
  flex-direction: row;
}
.body-videos,
.body-likes {
  padding: 0 50px;
  font-size: 2rem;
  margin-right: 10px;
}
.body-likes {
    display: flex;
    flex-direction: row;
}