.wrapper {
  width: 320px;
  padding: 20px;
  margin-top: -30px;
  height: 295px;
  overflow-y: hidden;
}
.container {
  padding: 20px 10px;
}
.row-items {
  width: 100%;
  :hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
.icon-share {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-share {
  padding: 10px 0;
  margin-left: 10px;
  min-width: 0;
  display: flex;
  justify-content: flex-start;
}
.row-items-down {
  width: 100%;
  position: absolute;
  top: 265px;
  background-color: white;
  left: 0;
  box-shadow: 2px 5px 20px 0px rgb(24 25 35 / 10%);
  :hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
.icon-down {
  
  padding: 10px 0;
  margin-left: 10px;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  :hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
