.header-live {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bnt-header {
  border: 1px solid rgba(24, 25, 34, 0.6);
  border-radius: var(--default-border-radius;
}
.btn {
  background-color: rgba(24, 25, 34, 0.6);
}
