.header-live {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(241, 241, 242, 1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  // animation: topToBottom 5s ;
  display:none;
}
.header-none {
    width: 100%;
    min-height: 50px;
    position: relative;
    z-index: 999;
  :hover {
   display: none;
  }
}
.header-none,
.control-show {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-header-none {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  padding: 10px;
  background-color: rgba(241, 241, 242, 1);
  width: 65px;
  height: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  .btn-none-fy,
  .btn-none-fl {
    width: 15px;
    height: 3px;
    padding: 0;
    border: none;
    margin: 5px;
    background-color: black;
  }
}
.btn-none-fy,
.btn-none-fl {
  width: 2px;
  height: 2px;
  padding: 0;
  border: none;
  margin: 0;
  background-color: black;
}
.btn-header {
  border: 1px solid transparent;
  padding: 0 10px;
  .btn-fy {
    background-color: var(--black);
  }
  :hover {
    &.btn-fl {
      background-color: rgba(24, 25, 34, 0.3);
    }
    &.btn-fy {
      background-color: rgba(24, 25, 34, 0.1);
    }
  }
}
.btn-fy,
.btn-fl {
  background-color: rgba(24, 25, 34, 0.1);
  border-radius: 50px;
  width: 130px;
  color: var(--white);
}

@keyframes topToBottom {
  0% {
    transform: translateY(-85px);
  }
  100% {
    transform: translateY(0);
  }
}
