
.header-live {
    background-color: rgba(241, 241, 242, 1);
    
}
.header-live {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btn-header {
  border: 1px solid transparent;
}
.btn {
  background-color: rgba(24, 25, 34, 0.6);
  border-radius: 50px;
}
