.header-live {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btn-header {
  border: 1px solid transparent;
  border-radius: 32px;
}
.btn {
  background-color: rgba(24, 25, 34, 0.6);
}
